.sidebar{
  @media #{$small} {
    margin-top:3%
  }
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  font-size: 2em;
  justify-content: center;
  height: 100vh;
  max-height: 940px;
  div.filler{
    flex: 2;
  }
  div.menu{
    margin-left: 13%;
    @media #{$small} {
      margin-left: 0;
    }
    p {
      margin: 4% 0;
    }
    flex: 6;
  }
  div.title {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    @media #{$small} {
      min-width: inherit;
      h1 {
        display: none;
      }
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }

    div.logo {
      position: relative;
      top: -30px;
      background-image: url(logo.svg);
      background-repeat: no-repeat;
      @media #{$small} {
        top: -5px;
        width: 55px;
        height: 55px;
        right: -5px;
      }
      width: 75px;
      height: 75px;
    }
  }
  @media #{$small} {
    padding: 0;
    margin-left: 0;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    div.menu{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 100%;
      padding: 0 10% 0 0 ;
      p {
        margin: 0 5px;
        flex: 1;
        font-size: 1.4rem;
        text-align: center;
      }
    }
    .filler{
      display: none;
    }
  }
}