$small: "screen and (max-width: 600px)";
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import "sidebar";
@import "main";
html, body {
    background-color: #212121;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    * {
        font-family: 'Open Sans Light', sans-serif;
    }
    overflow-x:hidden;
    overflow-y: hidden;
    @media #{$small} {
        overflow-y: auto;
    }
}
a{
    text-decoration: none;
    cursor: pointer;
}
.bigtext{
    color: #FFF;
    font-size: 5em;
    text-align: center;

}
.wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media #{$small} {
        flex-direction: column;
        padding: 0;
    }
    position:absolute;
    width: 100%;
    height: 100%;
}
.wrapper >*{
    flex: 1 100%;
    height: 100%;
}





